on: # 触发条件
  # 每当 push 到 master 分支时触发部署
  push:
    branches: [master]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Build and Deploy
      uses: jenkey2011/vuepress-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        TARGET_BRANCH: host-pages
        BUILD_SCRIPT: yarn && yarn build
        BUILD_DIR: public
